{% extends "base.html" %}

{% block content %}



<div class="container">
  <h1>Log for Job #{{job_pk}}</h1>
  <table class="table table-striped">
    <thead>
      <th style="width:5%">Log ID</th>
      <th style="width:15%">Time</th>
      <th style="width:10%">Stream</th>
      <th style="width:70%">Content</th>
    </thead>
    <tbody id="example-job-log-rows"></tbody>
  </table>
  <a id="cancel" class="btn btn-default" data-toggle="tooltip" data-placement="top" onclick="window.history.back()"
73	            href="#" title="Go back.">Go Back</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>

socket = new ReconnectingWebSocket("ws://" + window.location.host + "/ws/job-log/{{ job_pk }}/");

socket.onmessage = function(e) {
  var { log_id, time, content, stream } = JSON.parse(e.data);

  $('#example-job-log-rows').append(
    $('<tr>').append(
      $('<td>').text('' + log_id)
    ).append(
      $('<td>').text('' + new Date(time).toLocaleString())
    ).append(
      $('<td>').text('' + stream)
    ).append(
      $('<td>').append(
        $('<pre>').text('' + content)
      )
    )
  );
}

socket.onopen = function() { }

// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>

{% endblock content %}
